.fashion__container {
  margin-top: 45px;
  .fashion__title {
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 2.8rem;
    color: #000;
    span {
      color: #c32a26;
    }
  }
}
.fashion__content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  padding: 50px 0;
}

.card {
  position: relative;
  height: 400px;
  transition: 1s !important;
  cursor: pointer;
}

.card {
  .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 5px;
    overflow: hidden;
  }
}

.card {
  .front {
    box-shadow: 0 5px 10px #535353;
    position: relative;
  }
}

.card .front img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card .front h3 {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;
  color: #fff;
  background: rgba(0, 0, 0, 0.4);
  text-align: center;
}

.card .back {
  position: absolute;
  top: 0;
  background: #fff;
  padding: 15px;
  color: #f3f3f3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 0 5px 10px #675d5d;
  display: none;
}

.card .back .link {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  border-top: solid 1px #f3f3f3;
  height: 50px;
  line-height: 50px;
  background: #c32a26;
}

.card .back .link a {
  color: #f3f3f3;
  font-weight: 600;
}

.card .back h3 {
  font-size: 30px;
  margin-top: 20px;
  letter-spacing: 2px;
  color: #c32a26;
}

.card .back p {
  padding: 20px 0;
  letter-spacing: 2px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}
.card .back .fashion__location {
  padding: 15px 0 0 0;
  color: #c32a26;
  font-size: 20px;
  text-align: center;
  p {
    font-weight: 600;
    line-height: 2px;
  }
}

.card .back .fashion__time {
  color: #c32a26;
  font-size: 20px;
  p {
    font-weight: 500;
    line-height: 2px;
  }
}

// .card:hover .front {
//   // transform: perspective(600px) rotateY(180deg);
// }

.card:hover {
  transition: 0.5s !important;
  .back {
    // transform: perspective(600px) rotateY(360deg);
    display: block;
    transition: 0.5s !important;
  }
}

@media screen and (max-width: 1095px) {
  .fashion__content {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 920px) {
  .fashion__content {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 605px) {
  .fashion__content {
    grid-template-columns: repeat(1, 1fr);
  }
  .front img {
    object-position: top;
  }
}
