.loyaut-loader {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  svg {
    width: 800px !important;
    // background-color: red;
    height: 500px;
    @media screen and (max-width: 768px) {
      width: 250px !important;
      height: 270px !important;
    }
  }
}

@-webkit-keyframes animate-svg-stroke-1 {
  0% {
    stroke-dashoffset: 53.456966400146484px;
    stroke-dasharray: 53.456966400146484px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 53.456966400146484px;
  }
}

@keyframes animate-svg-stroke-1 {
  0% {
    stroke-dashoffset: 53.456966400146484px;
    stroke-dasharray: 53.456966400146484px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 53.456966400146484px;
  }
}

.svg-elem-1 {
  -webkit-animation: animate-svg-stroke-1 4s cubic-bezier(0.47, 0, 0.745, 0.715)
    2s both;
  animation: animate-svg-stroke-1 4s cubic-bezier(0.47, 0, 0.745, 0.715) 2s both;
}

@-webkit-keyframes animate-svg-stroke-2 {
  0% {
    stroke-dashoffset: 54.47610092163086px;
    stroke-dasharray: 54.47610092163086px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 54.47610092163086px;
  }
}

@keyframes animate-svg-stroke-2 {
  0% {
    stroke-dashoffset: 54.47610092163086px;
    stroke-dasharray: 54.47610092163086px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 54.47610092163086px;
  }
}

.svg-elem-2 {
  -webkit-animation: animate-svg-stroke-2 4s cubic-bezier(0.47, 0, 0.745, 0.715)
    2.12s both;
  animation: animate-svg-stroke-2 4s cubic-bezier(0.47, 0, 0.745, 0.715) 2.12s
    both;
}

@-webkit-keyframes animate-svg-stroke-3 {
  0% {
    stroke-dashoffset: 58.04517364501953px;
    stroke-dasharray: 58.04517364501953px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 58.04517364501953px;
  }
}

@keyframes animate-svg-stroke-3 {
  0% {
    stroke-dashoffset: 58.04517364501953px;
    stroke-dasharray: 58.04517364501953px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 58.04517364501953px;
  }
}

.svg-elem-3 {
  -webkit-animation: animate-svg-stroke-3 4s cubic-bezier(0.47, 0, 0.745, 0.715)
    2.24s both;
  animation: animate-svg-stroke-3 4s cubic-bezier(0.47, 0, 0.745, 0.715) 2.24s
    both;
}

@-webkit-keyframes animate-svg-stroke-4 {
  0% {
    stroke-dashoffset: 41.69902038574219px;
    stroke-dasharray: 41.69902038574219px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 41.69902038574219px;
  }
}

@keyframes animate-svg-stroke-4 {
  0% {
    stroke-dashoffset: 41.69902038574219px;
    stroke-dasharray: 41.69902038574219px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 41.69902038574219px;
  }
}

.svg-elem-4 {
  -webkit-animation: animate-svg-stroke-4 4s cubic-bezier(0.47, 0, 0.745, 0.715)
    2.36s both;
  animation: animate-svg-stroke-4 4s cubic-bezier(0.47, 0, 0.745, 0.715) 2.36s
    both;
}

@-webkit-keyframes animate-svg-stroke-5 {
  0% {
    stroke-dashoffset: 543.6007080078125px;
    stroke-dasharray: 543.6007080078125px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 543.6007080078125px;
  }
}

@keyframes animate-svg-stroke-5 {
  0% {
    stroke-dashoffset: 543.6007080078125px;
    stroke-dasharray: 543.6007080078125px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 543.6007080078125px;
  }
}

.svg-elem-5 {
  -webkit-animation: animate-svg-stroke-5 4s cubic-bezier(0.47, 0, 0.745, 0.715)
    2.48s both;
  animation: animate-svg-stroke-5 4s cubic-bezier(0.47, 0, 0.745, 0.715) 2.48s
    both;
}

//  BG settings
.color__switcher {
  width: 10rem;
  padding: 1rem;
  background: #fff;
  position: fixed !important;
  right: 0;
  top: 50%;
  transform: translate(100%, -50%);
  transition: all 0.5s ease-in-out;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  z-index: 1000;

  .color_switcher_button {
    width: 3rem;
    height: 3rem;
    background: #026ec6;
    border: none;
    font-size: 1.2rem;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(-100%, -50%);
    display: grid;
    place-items: center;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;

    i {
      animation: settingsButton 2s infinite;
      color: #fff;
    }
  }
  .color__switcher__title {
    font-size: 1.2rem;
  }
  .color__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    // gap: 5px;
  }
}
@keyframes settingsButton {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.color__switcher--open {
  transform: translate(0, -50%);
}
.color__item {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  margin: 0.625rem 0.4375rem 0.4375rem;
  border-radius: 6px;
}

.bgOnecolor {
  background-image: linear-gradient(
      177deg,
      rgba(122, 122, 122, 0.05) 0%,
      rgba(122, 122, 122, 0.05) 40%,
      rgba(64, 64, 64, 0.05) 40%,
      rgba(64, 64, 64, 0.05) 100%
    ),
    linear-gradient(
      300deg,
      rgba(200, 200, 200, 0.1) 0%,
      rgba(200, 200, 200, 0.1) 62%,
      rgba(39, 39, 39, 0.1) 62%,
      rgba(39, 39, 39, 0.1) 100%
    ),
    linear-gradient(
      28deg,
      rgba(243, 243, 243, 0.01) 0%,
      rgba(243, 243, 243, 0.01) 58%,
      rgba(154, 154, 154, 0.01) 58%,
      rgba(154, 154, 154, 0.01) 100%
    ),
    linear-gradient(
      318deg,
      rgba(136, 136, 136, 0.04) 0%,
      rgba(136, 136, 136, 0.04) 58%,
      rgba(205, 205, 205, 0.04) 58%,
      rgba(205, 205, 205, 0.04) 100%
    ),
    linear-gradient(
      297deg,
      rgba(240, 240, 240, 0.09) 0%,
      rgba(240, 240, 240, 0.09) 53%,
      rgba(146, 146, 146, 0.09) 53%,
      rgba(146, 146, 146, 0.09) 100%
    ),
    linear-gradient(
      10deg,
      rgba(19, 19, 19, 0.1) 0%,
      rgba(19, 19, 19, 0.1) 18%,
      rgba(125, 125, 125, 0.1) 18%,
      rgba(125, 125, 125, 0.1) 100%
    ),
    linear-gradient(
      84deg,
      rgba(146, 146, 146, 0.08) 0%,
      rgba(146, 146, 146, 0.08) 10%,
      rgba(123, 123, 123, 0.08) 10%,
      rgba(123, 123, 123, 0.08) 100%
    ),
    linear-gradient(90deg, rgb(71, 65, 230), rgb(121, 231, 221));
}
.bgTwocolor {
  background-image: linear-gradient(
      135deg,
      rgba(16, 16, 16, 0.07) 0%,
      rgba(16, 16, 16, 0.07) 3%,
      rgba(12, 12, 12, 0.07) 3%,
      rgba(12, 12, 12, 0.07) 8%,
      rgba(225, 225, 225, 0.07) 8%,
      rgba(225, 225, 225, 0.07) 30%,
      rgba(185, 185, 185, 0.07) 30%,
      rgba(185, 185, 185, 0.07) 57%,
      rgba(98, 98, 98, 0.07) 57%,
      rgba(98, 98, 98, 0.07) 95%,
      rgba(149, 149, 149, 0.07) 95%,
      rgba(149, 149, 149, 0.07) 97%,
      rgba(104, 104, 104, 0.07) 97%,
      rgba(104, 104, 104, 0.07) 100%
    ),
    linear-gradient(
      90deg,
      rgba(46, 46, 46, 0.06) 0%,
      rgba(46, 46, 46, 0.06) 7%,
      rgba(85, 85, 85, 0.06) 7%,
      rgba(85, 85, 85, 0.06) 51%,
      rgba(235, 235, 235, 0.06) 51%,
      rgba(235, 235, 235, 0.06) 56%,
      rgba(160, 160, 160, 0.06) 56%,
      rgba(160, 160, 160, 0.06) 58%,
      rgba(128, 128, 128, 0.06) 58%,
      rgba(128, 128, 128, 0.06) 67%,
      rgba(18, 18, 18, 0.06) 67%,
      rgba(18, 18, 18, 0.06) 74%,
      rgba(253, 253, 253, 0.06) 74%,
      rgba(253, 253, 253, 0.06) 100%
    ),
    linear-gradient(
      135deg,
      rgba(251, 251, 251, 0.04) 0%,
      rgba(251, 251, 251, 0.04) 2%,
      rgba(168, 168, 168, 0.04) 2%,
      rgba(168, 168, 168, 0.04) 11%,
      rgba(53, 53, 53, 0.04) 11%,
      rgba(53, 53, 53, 0.04) 19%,
      rgba(122, 122, 122, 0.04) 19%,
      rgba(122, 122, 122, 0.04) 100%
    ),
    linear-gradient(
      45deg,
      rgba(83, 83, 83, 0.01) 0%,
      rgba(83, 83, 83, 0.01) 7%,
      rgba(124, 124, 124, 0.01) 7%,
      rgba(124, 124, 124, 0.01) 44%,
      rgba(148, 148, 148, 0.01) 44%,
      rgba(148, 148, 148, 0.01) 71%,
      rgba(149, 149, 149, 0.01) 71%,
      rgba(149, 149, 149, 0.01) 100%
    ),
    linear-gradient(
      90deg,
      rgba(251, 251, 251, 0.02) 0%,
      rgba(251, 251, 251, 0.02) 16%,
      rgba(173, 173, 173, 0.02) 16%,
      rgba(173, 173, 173, 0.02) 18%,
      rgba(90, 90, 90, 0.02) 18%,
      rgba(90, 90, 90, 0.02) 19%,
      rgba(249, 249, 249, 0.02) 19%,
      rgba(249, 249, 249, 0.02) 52%,
      rgba(199, 199, 199, 0.02) 52%,
      rgba(199, 199, 199, 0.02) 55%,
      rgba(4, 4, 4, 0.02) 55%,
      rgba(4, 4, 4, 0.02) 99%,
      rgba(86, 86, 86, 0.02) 99%,
      rgba(86, 86, 86, 0.02) 100%
    ),
    linear-gradient(
      135deg,
      rgba(89, 89, 89, 0.01) 0%,
      rgba(89, 89, 89, 0.01) 3%,
      rgba(60, 60, 60, 0.01) 3%,
      rgba(60, 60, 60, 0.01) 13%,
      rgba(45, 45, 45, 0.01) 13%,
      rgba(45, 45, 45, 0.01) 36%,
      rgba(86, 86, 86, 0.01) 36%,
      rgba(86, 86, 86, 0.01) 73%,
      rgba(11, 11, 11, 0.01) 73%,
      rgba(11, 11, 11, 0.01) 81%,
      rgba(144, 144, 144, 0.01) 81%,
      rgba(144, 144, 144, 0.01) 100%
    ),
    linear-gradient(
      45deg,
      rgba(219, 219, 219, 0.09) 0%,
      rgba(219, 219, 219, 0.09) 27%,
      rgba(223, 223, 223, 0.09) 27%,
      rgba(223, 223, 223, 0.09) 64%,
      rgba(129, 129, 129, 0.09) 64%,
      rgba(129, 129, 129, 0.09) 89%,
      rgba(18, 18, 18, 0.09) 89%,
      rgba(18, 18, 18, 0.09) 100%
    ),
    linear-gradient(90deg, rgb(231, 24, 64), rgb(215, 77, 46));
}
.bgThreecolor {
  background-image: repeating-radial-gradient(
      circle at center center,
      transparent 0px,
      transparent 8px,
      rgba(255, 255, 255, 0.05) 8px,
      rgba(255, 255, 255, 0.05) 11px,
      transparent 11px,
      transparent 17px,
      rgba(255, 255, 255, 0.05) 17px,
      rgba(255, 255, 255, 0.05) 25px,
      transparent 25px,
      transparent 38px,
      rgba(255, 255, 255, 0.05) 38px,
      rgba(255, 255, 255, 0.05) 42px
    ),
    repeating-radial-gradient(
      circle at center center,
      rgb(0, 0, 0) 0px,
      rgb(0, 0, 0) 11px,
      rgb(0, 0, 0) 11px,
      rgb(0, 0, 0) 19px,
      rgb(0, 0, 0) 19px,
      rgb(0, 0, 0) 24px,
      rgb(0, 0, 0) 24px,
      rgb(0, 0, 0) 33px,
      rgb(0, 0, 0) 33px,
      rgb(0, 0, 0) 44px,
      rgb(0, 0, 0) 44px,
      rgb(0, 0, 0) 46px
    );
  background-size: 60px 60px;
}
.bgFourcolor {
  background-image: linear-gradient(90deg, rgb(205, 255, 3), rgb(0, 0, 0));
}
.bgFivecolor {
  background-image: linear-gradient(90deg, rgb(255, 3, 158), rgb(0, 0, 0));
}
.bgSixcolor {
  background-image: linear-gradient(90deg, rgb(255, 163, 3), rgb(0, 0, 0));
}
.bgSevencolor {
  background-image: url("../../../public/siteBg.png");
  background-size: contain;
}
.bgEightcolor {
  background-image: url("../../../public/siteBg2.png");
  background-size: contain;
}
.bgNinecolor {
  background-image: url("../../../public/siteBg3.png");
  background-size: contain;
}
