// .for_light_theme{
//   --primaryCl:#red;
// }

// .for_black_them{
//   --primaryCl:#black;

// }
* {
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
}

.container-layout {
  // padding-top: 100px;
  min-height: 69vh;
}
h2 {
  font-size: 2.4rem;
  margin-top: 60px;
  color: #223b6d;
  width: 100%;
  span {
    color: #b71313;
    font-size: 1.2rem;
  }
}
.map-full{
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding:50px 20px;
  // <div class="leaflet-popup-tip-container"><div class="leaflet-popup-tip"></div></div>
  .map{
  width: 75%;
  height: 520px;
  border-radius: 5px;
  padding: 5px;
  border: 2px solid #ccc;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  .popapa{
   width: max-content;
    // min-height: 200px;
    // background-color: blue;
    *{
      background-color: rgb(26, 26, 132);
      color: yellow !important;
    }
    .leaflet-popup-tip-container{
      background-color: transparent;
    }

  }
}

.map-menu {
 
  background-color:var(--primaryCl);
  border-radius: 5px;
  padding: 28px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  top: 130px;
  align-items: flex-start;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  .map-item {
    font-size: 27px;
    .map-link {
      display: flex;
      align-items: center;
      gap: 5px;
      font-size: 25px;
      font-family: sans-serif;
      // color: $lightBackTex;
      color: #000;
      @media screen and (max-width: 768px) {
        font-size: 20px;

      }
      span {
        font-size: 20px;
        @media screen and (max-width: 768px) {
          font-size: 7px;

        }
      }
    }
  }
}
}


// .map-img {
//   width: 90%;
//   float: left;
// }
// .map-img path {
//   fill: aqua;
//   stroke: #fff;
//   stroke-width: 2px;
// }
// .map-img path:hover {
//   position: absolute;
//   fill: red;
//   color: #000;
//   font-size: 20px;
// }

// .map-img svg a {
//   position: relative;
//   span {
//     position: absolute;
//     z-index: 1000;
//     color: #000;
//   }
// }

// .map-cotainerssssss {
//   position: relative;
//   left: -10px !important;
//   width: 800px !important;
//   overflow: auto;
//   border-radius: 15px;
//   object-position: center;
// }
