.weater-wrap {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  // margin-right: 30px !important;
  // margin-left: 40px !important;
  height: 50px;
  text-transform: capitalize;

  img {
    padding: 5px;
  }

  p {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #000;
    margin-bottom: 0rem;
    // flex-direction: column;
    padding: 0 5px;
    // width: 50%;
  }

  .div-weater {
    width: 57%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    img {
      width: 23px;
      height: 22px;
    }
  }
}

.swip-weater-wrap {
  width: 150px;
}