@import url("https://fonts.googleapis.com/css?family=Raleway");

$defaultSeconds: 3s;
:root {
  // --primary-color:yellow;
  --background: white;
  --text-color: #000000;
  --border-color: #eee;
  --card-back-color: white;
  --border-color2: #000;
}

.accardion_pattern {
  top: -100px;
  left: -150px;
  position: absolute;
  width: 500px;
  height: 500px;
  // filter: grayscale(50%);
  opacity: 0.5;
  animation: circleAnimation 15s infinite linear;
}
@keyframes circleAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.acardions {
  font-family: "Dr Sugiyama", cursive;
  margin-top: -50px;
  z-index: 1;
  position: relative;
  background: transparent;
  // background-color: red !important;
  // z-index: 1000000;
  //width: 200vh;
  height: 70vh;
  display: flex;
  justify-content: center;
  padding: 15px;
  // background: url('https://media.istockphoto.com/id/146057381/photo/oriental-uzbekistan-blue-tiles.jpg?s=612x612&w=0&k=20&c=0QG6BuOAtwvrrZBzRXcnGfUdo8uBJXupFHMcxO-jpng='),linear-gradient(135deg, #6ec575 0, #3b8686 100%);
  // background-color: var(--primary-color);
  @media screen and (max-width: 768px) {
    padding: 10px;
    height: 105vh;
  }
}

// #acardion-title {
//   // position: absolute;
//   font-size: 36px;
//   font-family: "FoglihtenNo06" !important;
//   text-transform: capitalize !important;
//   font-weight: bold !important;
//   transition: 0.3s;
//   //////
//   background-image: linear-gradient(135deg, #000000 50%, transparent 50%);
//   background-size: 300% 100%;
//   -webkit-text-stroke-color: rgb(11, 9, 9);
//   -webkit-text-stroke-width: 0.001em;
//   -webkit-text-fill-color: transparent;
//   -webkit-background-clip: text;
//   text-transform: capitalize;
//   animation: fill 4s linear;
//   // z-index: 1000000;
//   ////

//   @media screen and (max-width: 768px) {
//     font-size: 25px;
//   }
//   @media screen and (max-width: 570px) {
//     font-size: 15px;
//   }
// }
.flex-container {
  border-radius: 12px;
  position: absolute;
  top: 100px;
  height: 55vh;
  width: 90%;
  display: -webkit-flex; /* Safari */
  display: flex;
  overflow: hidden;
  // box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  @media screen and (max-width: 768px) {
    flex-direction: column;
    width: 90%;
    height: 90vh;

    top: 50px;
  }
}
.flex-title {
  font-weight: 500;
  width: 100%;
  color: #f1f1f1;
  position: absolute;
  font-size: 1.5vw;
  // margin: ;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  // transform: rotate(90deg);
  bottom: 0;
  padding: 10px 10px 10px 0;
  // top: 190px;
  // left: -30px;
  // left:-150px;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  @media screen and (max-width: 768px) {
    transform: rotate(0deg) !important;
    font-size: 3.5vw;
    top: 15px;
  }
}
.flex-about {
  opacity: 0;
  color: #f1f1f1;
  position: relative;
  width: 70%;
  font-size: 2vw;
  padding: 5%;
  top: 20%;
  border: 2px solid #f1f1f1;
  border-radius: 10px;
  line-height: 1.3;
  margin: auto;
  text-align: left;
  transform: rotate(0deg);
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  @media screen and (max-width: 768px) {
    padding: 0%;
    border: 0px solid #f1f1f1;
  }
}

.flex-slide {
  position: relative;
  -webkit-flex: 1; /* Safari 6.1+ */
  -ms-flex: 1; /* IE 10 */
  flex: 1;
  border-left: 3px solid #fff;
  cursor: pointer;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  -webkit-animation: kenburns-bottom-left 5s ease-out both;
  animation: kenburns-bottom-left 5s ease-out both;
  @media screen and (max-width: 768px) {
    overflow: auto;
    overflow-x: hidden;
  }
}
.flex-slide p {
  @media screen and (max-width: 768px) {
    font-size: 2em;
  }
}
.flex-slide ul li {
  @media screen and (max-width: 768px) {
  }
}
@-webkit-keyframes kenburns-bottom-left {
  0% {
    -webkit-transform: scale(1) translate(0, 0);
    transform: scale(1) translate(0, 0);
    -webkit-transform-origin: 16% 84%;
    transform-origin: 16% 84%;
  }
  100% {
    -webkit-transform: scale(1.25) translate(-20px, 15px);
    transform: scale(1.25) translate(-20px, 15px);
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom;
  }
}
@keyframes kenburns-bottom-left {
  0% {
    -webkit-transform: scale(1) translate(0, 0);
    transform: scale(1) translate(0, 0);
    -webkit-transform-origin: 16% 84%;
    transform-origin: 16% 84%;
  }
  100% {
    -webkit-transform: scale(1.25) translate(-20px, 15px);
    transform: scale(1.25) translate(-20px, 15px);
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom;
  }
}

.flex-slide:hover {
  // -webkit-flex-grow: 6;
  flex-grow: 6;
  transform: rotate(0deg);
  font-size: 1.5vw;
}
.flex-slide:hover > .flex-title {
  -webkit-flex-grow: 6;
  flex-grow: 6;
  font-size: 2vw;

  transform: rotate(0deg);
}
.acc_img1 {
  // height: 100vh;
  background-image: url("../../../../../public/Fayoztepa.jpg");
  background-size: cover;
  background-position: center center;
  // background-attachment: fixed;
  @media screen and (min-width: 768px) {
    animation: aboutFlexSlide $defaultSeconds 1;
    animation-delay: 0s;
  }
}

@keyframes aboutFlexSlide {
  0% {
    -webkit-flex-grow: 1;
    flex-grow: 1;
  }
  50% {
    -webkit-flex-grow: 3;
    flex-grow: 3;
  }
  100% {
    -webkit-flex-grow: 1;
    flex-grow: 1;
  }
}

// .flex-title-home {
//   @media screen and (min-width: 768px) {
//     transform: rotate(90deg);
//     // top: 15%;
//     animation: aboutFlexSlide $defaultSeconds 1;
//     animation-delay: 0s;
//   }
// }

@keyframes homeFlextitle {
  0% {
    transform: rotate(90deg);
    top: 15%;
  }
  50% {
    transform: rotate(0deg);
    top: 15%;
  }
  100% {
    transform: rotate(90deg);
    top: 15%;
  }
}

.flex-about-home {
  opacity: 0;
  @media screen and (min-width: 768px) {
    animation: aboutFlexSlide $defaultSeconds 1;
    animation-delay: 0s;
  }
}

@keyframes flexAboutHome {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.acc_img2 {
  background-image: url("../../../../../public/12блок/Халқ оғзаки ижоди/932b40b4-ea51-488d-84a4-3a3294c584d0.jpeg");
  background-size: cover;
  background-position: center center;
  // background-attachment: fixed;
  @media screen and (min-width: 768px) {
    animation: aboutFlexSlide $defaultSeconds 1;
    animation-delay: 0s;
  }
}
.contact-form {
  width: 100%;
}
input {
  width: 100%;
}
textarea {
  width: 100%;
}
.acc_img3 {
  background-image: url("../../../../../public/12блок/Битиклар/7335d9_c5cd4c0873e84a39a0f76c630496e717~mv2.jpg");
  background-size: cover;
  background-position: center center;
  // background-attachment: fixed;
  @media screen and (min-width: 768px) {
    animation: aboutFlexSlide $defaultSeconds 1;
    animation-delay: 0s;
  }
}
.acc_img4 {
  // linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  background-image: url("../../../../../public/12блок/Тарихий ёдгорликлар/e6055814-bf03-11ed-a977-d245261c0ddb.800x600.jpeg");
  background-size: cover;
  background-position: center center;
  // background-attachment: fixed;
  @media screen and (min-width: 768px) {
    animation: aboutFlexSlide $defaultSeconds 1;
    animation-delay: 0s;
  }
}
.acc_img5 {
  // linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  background-image: url("../../../../../public/12блок/Ёзма асарлар/Без имени-1.jpg");
  background-size: cover;
  background-position: center center;
  // background-attachment: fixed;
  @media screen and (min-width: 768px) {
    animation: aboutFlexSlide $defaultSeconds 1;
    animation-delay: 0s;
  }
}
.acc_img6 {
  // linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  background-image: url("../../../../../public/12блок/Тангалар/Снимок.jpg");
  background-size: cover;
  background-position: center center;
  // background-attachment: fixed;
  @media screen and (min-width: 768px) {
    animation: aboutFlexSlide $defaultSeconds 1;
    animation-delay: 0s;
  }
}
.acc_img7 {
  // linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  background-image: url("../../../../../public/12блок/Тарихий ҳужжатлар/Без имени-1.jpg");
  background-size: cover;
  background-position: center center;
  // background-attachment: fixed;
  @media screen and (min-width: 768px) {
    animation: aboutFlexSlide $defaultSeconds 1;
    animation-delay: 0s;
  }
}
.acc_img8 {
  // linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  background-image: url("../../../../../public/12блок/Муҳрлар/Muhr-3.jpg");
  background-size: cover;
  background-position: center center;
  // background-attachment: fixed;
  @media screen and (min-width: 768px) {
    animation: aboutFlexSlide $defaultSeconds 1;
    animation-delay: 0s;
  }
}
.acc_img9 {
  // linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  background-image: url("../../../../../public/12блок/Сан`ат асарлари/Muhammad\ Shayboniyxon\ surati\ \(2\).jpg");
  background-size: cover;
  background-position: center center;
  // background-attachment: fixed;
  @media screen and (min-width: 768px) {
    animation: aboutFlexSlide $defaultSeconds 1;
    animation-delay: 0s;
  }
}
.acc_img10 {
  // linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  background-image: url("../../../../../public/12блок/Матбуот/sadoyi-turkiston.jpg2_.jpg");
  background-size: cover;
  background-position: center center;
  // background-attachment: fixed;
  @media screen and (min-width: 768px) {
    animation: aboutFlexSlide $defaultSeconds 1;
    animation-delay: 0s;
  }
}
.acc_img11 {
  // linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  background-image: url("../../../../../public/12блок/Архив ҳужжатлари/13.jpg");
  background-size: cover;
  background-position: center center;
  // background-attachment: fixed;
  @media screen and (min-width: 768px) {
    animation: aboutFlexSlide $defaultSeconds 1;
    animation-delay: 0s;
  }
}
.acc_img12 {
  // linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  background-image: url("../../../../../public/12блок/Кўр, эшит, тингла/photo_2024-04-30_21-03-48.jpg");
  background-size: cover;
  background-position: center center;
  // background-attachment: fixed;
  @media screen and (min-width: 768px) {
    animation: aboutFlexSlide $defaultSeconds 1;
    animation-delay: 0s;
  }
}

// Preloader
.spinner {
  position: fixed;
  top: 0;
  left: 0;
  background: #222;
  height: 100%;
  width: 100%;
  z-index: 11;
  margin-top: 0;
  color: #fff;
  font-size: 1em;
}

.cube1,
.cube2 {
  background-color: #fff;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
  animation: sk-cubemove 1.8s infinite ease-in-out;
}

.cube2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

@-webkit-keyframes sk-cubemove {
  25% {
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  }
  50% {
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  }
  75% {
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg)
      scale(0.5);
  }
  100% {
    -webkit-transform: rotate(-360deg);
  }
}

@keyframes sk-cubemove {
  25% {
    transform: translateX(42px) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  }
  50% {
    transform: translateX(42px) translateY(42px) rotate(-179deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
  }
  50.1% {
    transform: translateX(42px) translateY(42px) rotate(-180deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  }
  75% {
    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg)
      scale(0.5);
  }
  100% {
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
  }
}
