// :root {
//   --background: white;
//   --text-color: #000000;
//   --border-color: #eee;
//   --card-back-color: white;
//   --border-color2: #000;
// }

.card__container {
  position: relative;
  max-width: 1350px;
  margin: auto;
  padding: 2rem;
  // background-color: var(--background);
  background: transparent;

  .video-make {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
  }
}

.home__card__container {
  position: relative;
}

.home__cards__title {
  width: 100%;
  margin: 50px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  // padding-top: 20px;
  // border-top: 2px solid #c75652;
  h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 2.8rem;
    color: #c75652;
  }
  .see_all {
    border: 1.5px solid #ed4741;
    border-radius: 2vw;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    width: 250px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2vw;
    color: #ed4741;
    background: transparent;
  }

  .see_all:hover {
    background-color: #fff;
    box-shadow: 0px 0px 10px rgb(216, 216, 216);
  }
}

.home__wrapper:hover .home__cards__title button {
  -webkit-animation: shake-horizontal 0.8s
    cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  animation: shake-horizontal 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  // animation-iteration-count: infinite;
}
@-webkit-keyframes shake-horizontal {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  90% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
  }
}
@keyframes shake-horizontal {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  90% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
  }
}
.home__card {
  text-align: center;
  width: 300px;
  height: 380px;
  background: #fff;
  display: flex;
  align-items: flex-end;
  padding: 2rem 1rem;
  position: relative;
  transition: 0.5s all ease-in-out;
  border-radius: 8px;
}
.home__card:hover {
  transform: translateY(-10px);
}
.home__card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(13, 36, 63, 0.3),
    rgba(13, 36, 63, 1)
  );
  z-index: 2;
  opacity: 0;
  border-radius: 8px;
  transition: 0.5s all;
}
.home__card:hover::before {
  opacity: 1;
}

.home__card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  border-radius: 8px;
  top: 0;
  left: 0;
  border: 2px solid rgba(0, 0, 0, 0.19);
}
.home__card img:hover {
  border-radius: 8px;
}
.home__card .home__info {
  position: relative;
  color: #fff;
  z-index: 3;
  opacity: 0;
  transform: translateY(30px);
  transition: 0.5s all;
}
.home__card:hover .home__info {
  opacity: 1;
  transform: translateY(0);
}

.home__card .home__info h1 {
  line-height: 40px;
  margin-bottom: 10px;
}
.home__card .home__info p {
  font-size: 15px;
  letter-spacing: 1px;
  margin-bottom: 20px;
}
.home__card .home__info .home__btn {
  background: #fff;
  padding: 0.5rem 1rem;
  color: #000;
  font-size: 12px;
  cursor: pointer;
  border-radius: 20px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.4s ease-in-out;
}
.home__card .home__info .home__btn:hover {
  background: #fc5185;
  color: #fff;
  box-shadow: 0 7px 10px rgba(0, 0, 0, 0.5);
}

.pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.muxr_pattern {
  top: -120px;
  left: -240px;
  position: absolute;
  width: 500px;
  height: 500px;
  filter: grayscale(50%);
  opacity: 0.5;
  animation: circleAnimation 25s infinite linear;
}
.matbuot_pattern {
  top: -120px;
  right: 0;
  position: absolute;
  width: 500px;
  height: 500px;
  filter: grayscale(50%);
  opacity: 0.5;
  animation: circleAnimation 25s infinite linear;
}
.archi_pattern {
  top: -120px;
  left: -240px;
  position: absolute;
  width: 500px;
  height: 500px;
  filter: grayscale(50%);
  opacity: 0.5;
  animation: circleAnimation 25s infinite linear;
}
@keyframes circleAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
