nav{position: fixed;
  width: 100%;
  .nav-container{
  // background-image: linear-gradient( 111.4deg,  rgba(7,7,9,1) 6.5%, rgba(27,24,113,1) 93.2% );
  // background-image: linear-gradient( 65.9deg,  rgba(85,228,224,1) 5.5%, rgba(75,68,224,0.74) 54.2%, rgba(64,198,238,1) 55.2%, rgba(177,36,224,1) 98.4% );
  // background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(0,221,214,1) 0%, rgba(51,102,255,1) 90% );
  // background-image: radial-gradient( circle 674px at 18.3% 77%,  rgba(139,186,244,1) 3.4%, rgba(15,51,92,1) 56.6% );
  // background-image: linear-gradient( 179.6deg,  rgba(68,182,244,1) 5.3%, rgba(34,53,89,1) 78.4% );
  // background-image: linear-gradient( 178.6deg,  rgba(20,36,50,1) 11.8%, rgba(124,143,161,1) 83.8% );
  // background-image: radial-gradient( circle 690px at 8.8% 19%,  rgba(72,81,86,1) 8%, rgba(187,187,187,1) 84.1% )
  background-image: linear-gradient( 178.8deg,  rgba(52,100,119,1) 43.5%, rgba(187,187,187,1) 98.1% );;
  display: flex;
  padding: 0px 100px;
  height: 70px;
  justify-content: space-between;
  align-items: center;
  background-color: rebeccapurple;
  color: white;
  }
  
    
    .nav-firs-item{
      display: flex;
      gap: 70px;
      font-size: 20px;
      align-items: center;
      

      
      .nav-drop{
        display: flex;
        align-items: center;
        border: none;
        background:transparent;
        color: white;
          ul{
            display: none;
          }
        .menu-drop{
          position: absolute;
          background-color: white;
          border-radius: 5px;
          padding: 20px;
          display: flex;
          flex-direction: column;
          gap:20px;
          top: 130px;
          align-items: flex-start;

        }
      }
      .nav-menu{
        display: flex;
        align-items: center;
        gap: 70px;
        color: white;
        .anime-box{
          position: absolute;
          width: 50px;
          height: 5px;
          border-radius: 5px;
          background: white;
          top: 50px;
        }
        button{
          border: none;
          background: transparent;
          color: white !important;
          Link{
            color: white;
          }

        }
      }
    }
    .nav-last-item{
      display: flex;
      align-items: center;
      gap: 20px;
      font-size: 26px;
     
    }
}